.main_header {
    display: grid;
    @include padding(20px 0);
    .logo {
        @include reset-margin(all);
        transition: all 200ms ease-in-out;
        cursor: pointer;
        position: relative;
        justify-self: center;
        @include breakpoint-up(md) {
            justify-self: end;
            margin-right: 10px;
        }
        a {
            font-family: 'Gruppo', cursive;
            position: relative;
            color: $logo-color;
            font-weight: 600;
            span.r {
                display: inline-block;
                color: $logo-color;
                @include margin-left(18px);
                @include margin-right(15px);
                -webkit-transition: all 200ms ease-in-out;
                -moz-transition: all 200ms ease-in-out;
                -o-transition: all 200ms ease-in-out;
                transition: all 200ms ease-in-out;
            }
            span.d {
                @include pos-absolute(-55px, auto, auto, -7px);
                font-size: 90px;
                -webkit-transition: color 200ms ease-in-out;
                -moz-transition: color 200ms ease-in-out;
                -o-transition: color 200ms ease-in-out;
                transition: color 200ms ease-in-out;
            }
            span.d,
            span.align-bottom {
                color: rgba($logo-color, 0.6);
            }
            span.align-bottom {
                @include pos-absolute(auto, auto, auto, 0px);
                font-size: 1.0rem;
                -webkit-transition: color 200ms ease-in-out;
                -moz-transition: color 200ms ease-in-out;
                -o-transition: color 200ms ease-in-out;
                transition: color 200ms ease-in-out;
            }
            &:hover {
                text-decoration: none;
                color: $logo-color;
                span.r {
                    transform: rotate(360deg)
                }
                span.d,
                span.align-bottom {
                    color: $link-color;
                }
            }
        }
        // a link
    } //.logo 
    .social_links {
        display: none;
        @include breakpoint-up(md) {
            display: block;
            list-style: none;
            @include reset-margin(all);
            @include reset-padding(all);
            font-size: 1.4rem;
        }
    }
}