.modelbox {
    width: 100%;
    height: 100vh;
    background-color: #f7f7f7;
    color: #FFF;
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 1100;
        margin-left: 100%;
    &.open {
        margin-left: 0%;
    }
    // &.close {
    //     margin-left: 100%;
    // }
    &_content {
        height: auto;
        background: #f7f7f7;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding: 65px 0 35px;
        color: #000;
        img {
            border: 0;
            text-align: center;
            margin-bottom: 55px;
        }
    }
    /* .content end*/
    &_header {
        background: #FFFFFF;
        text-align: center;
        height: 220px;
        padding-top: 80px;
        margin: 0;
        h1 {
            margin: 0;
            padding: 0 0 10px;
            color: #000;
        }
        h2 {
            font-size: 20px;
            margin: 0;
            padding: 0 0 10px;
            color: #000;
        }
        p {
            font-size: 13px;
            color: #666666;
            width: 60%;
            margin: 0 auto;
            padding: 10px 0;
            line-height: 25px;
        }
        a {
            display: inline-block;
            font-size: 13px;
            color: #000;
            margin: 0 auto;
            padding: 10px 0;
            &:hover {
                color: #f00;
            }
        }
    }
    /* .header end*/
    .btn_close {
        position: fixed;
        margin: 0;
        cursor: pointer;
        top: 2.5%;
        right: 5%;
        color: #f00;
        text-align: center;
        border-radius: 100%;
        display: none;
    }
}


/* .modelbox end*/

#popupModel-popup_container-description {
    text-align: center;
    margin-bottom: 35px;
    font-size: 13px;
    color: #666666;
    box-sizing: border-box;
}