.welcome {
    h2 {
        font-weight: 600;
        color: #333;
        font-size: 2.1rem;
        @include breakpoint-up(sm) {
            font-size: 2.5rem;
        }
        @include breakpoint-up(md) {
            font-size: 3.0rem;
        }
        @include breakpoint-up(lg) {
            font-size: 3.7rem;
        }
    }
    .lead {
        font-size: 1.5rem;
        margin-bottom: 1.0rem;
        @include breakpoint-up(sm) {
            font-size: 2.0rem;
        }
        @include breakpoint-up(md) {
            font-size: 2.3rem;
            margin-bottom: 1.3rem;
        }
        @include breakpoint-up(lg) {
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
        }
    }
    p {
        a {
            position: relative;
            font-weight: 600;
            overflow: hidden;
            &::before {
                @include pos-absolute(auto, 0, 0, 0);
                content: '';
                height: 2px;
                width: 0%;
                background: $gray;
                -webkit-transition: all 300ms ease-in-out;
                transition: all 300ms ease-in-out;
            }
            &::after {
                @include pos-absolute(auto, 0, 0, 0);
                content: '';
                height: 2px;
                width: 100%;
                background: $link-color;
                -webkit-transition: width 300ms ease-in-out;
                transition: width 300ms ease-in-out;
            }
            &:hover {
                text-decoration: none;
                &::before {
                    width: 100%;
                }
                &::after {
                    width: 0%;
                    // transform: translate(1000px, 0px);
                }
            }
        }
    }
}

.ie_message {
    display: none;
    &.ie {
        display: block;
        height: 100vh;
        width: 100vw;
        @include pos-fixed(0, 0, 0, 0);
        z-index: 100;
        background: $white;
        color: $gray-dark;
        // align-content: center;
        // justify-content: center;
    }
    main {
        max-width: 580px;
        @include vertical-align;
        @include margin(0 auto);
        @include padding(30px);
    }
}