.modelbox {
    width: 100%;
    height: 100vh;
    background: $gray-lightest;
    color: $white;
    font-size: 30px;
    overflow: auto;
    z-index: 100;
    transform: translateX(-100%);
    @include pos-fixed(0px, auto, auto, 0px);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    &.open {
        transform: translateX(0%);
        
        
    }
    &_content {
        height: auto;
        background: $gray-lightest;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding: 65px 0 35px;
        color: $gray;
        img {
            border: 0;
            text-align: center;
            margin-bottom: 55px;
            max-width: 100%;
        }
    }
    /* .content end*/
    &_header {
        background: $white;
        text-align: center;
        height: 220px;
        padding-top: 50px;
        margin: 0;
        h2 {
            margin: 0;
            margin-bottom: 5px;
            color: $gray-dark;
            font-size: 1.5rem;
            @include breakpoint-up(md) {
                font-size: 2.5rem;
            }
            @include breakpoint-up(lg) {
                font-size: 2.8rem;
            }
            small {
                padding: 10px 0 0 0;
                display: block;
                font-size: 40%;
                color: rgba($gray-dark, 0.5)
            }
        }
        p {
            // font-size: 13px;
            color: $gray;
            width: 60%;
            margin: 0 auto;
        }
        a {
            display: inline-block;
            font-size: 13px;
            color: $black;
            margin: 0 auto;
            padding: 10px 0;
            &:hover {
                color: $link-color;
            }
        }
    }
    /* .header end*/
    .btn_close {
        @include pos-fixed(2.5%, 2.5%, auto, auto);
        margin: 0;
        cursor: pointer;
        color: $gray-dark;
        text-shadow: 0px 1px 0px rgba($gray-light, 0.8);
        text-align: center;
        border-radius: 100%;
        // display: none;
        &:hover {
            color: $link-color;
        }
    }
}