html,
body {
    height: 100%;
    overflow-x: hidden;
}


/* CSS only for examples not required for centering */

body {
    font-size: 100%;
    transition: all 200ms ease-in-out;
    background: $white;
    font-family: 'Nunito Sans', sans-serif;
    & a {
        color: $gray-dark;
        &:hover {
            color: $gray-dark;
        }
    }
    .container {
        height: 100%;
    }
}