html,
body {
    height: 100%;
    overflow-x: hidden;
    @include reset-margin(all);
    @include reset-padding(all);
}


/* CSS only for examples not required for centering */

[v-cloak] {
    display: none;
}

.h-100 {
    height: 100%!important;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

p {
    font-size: 1.1rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @include breakpoint-up(sm) {
        max-width: 540px;
    }
    @include breakpoint-up(md) {
        max-width: 720px;
    }
    @include breakpoint-up(lg) {
        max-width: 960px;
    }
    @include breakpoint-up(xl) {
        max-width: 1140px;
    }
}

body {
    font-size: 100%;
    transition: all 200ms ease-in-out;
    background: $white;
    font-family: 'Nunito Sans', sans-serif;
    & a {
        color: $gray-dark;
        &:hover {
            color: $gray-dark;
        }
    }
    .container {
        height: 100%;
    }
}

.wrapper {
    display: grid;
    display: -ms-grid;
    grid-template-rows: auto auto auto;
    -ms-grid-rows: auto auto auto;
    grid-gap: .5em;
    main {
        display: grid;
        display: -ms-grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        -ms-grid-row: 2;
        grid-row: 2;
        @include breakpoint-up(lg) {
            -ms-grid-columns: 1fr repeat(2, minmax(auto, 10em)) 1fr;
            grid-template-columns: 1fr repeat(2, minmax(auto, 10em)) 1fr;
        }
        .main {
            grid-column: initial;
            -ms-grid-column: initial;
            @include breakpoint-up(lg) {
                grid-column: 1/4;
                -ms-grid-column-span: 4;
            }
        }
    }
}