<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Raghavendra S DIddimani">

    <title>Raghavendra S Diddimani - UI Developer based from Bangaluru, Karnataka</title>

    <link rel="shortcut icon" href="assets/images/gt_favicon.png">


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <!-- logo font -->
    <link href="https://fonts.googleapis.com/css?family=Gruppo" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/production.min.css">

</head>

<body class="home">
    <div class="container" id="app">

        <div class="h-100">
            <header class="main_header">
                <h1 class="logo">
                    <a href="index.html" title="Raghavendra S Diddmani">

                        <span class="r">R</span>
                        <span class="d">D</span>
                        <span class="align-bottom"> iddimani</span>

                    </a>
                </h1>
            </header>


            <main>
                <section class="works" id="app">
                    <h2>
                        <span class="highlight"><span class="highlight--el"> Recent Works</span></span>
                    </h2>
                    <p>Have a look at some of my works, it would be much appreciated if you could pass me your thoughts on the same. </p>
                    <div class="recentworks">
                        <div class="item" v-for="work in works">
                            <figure @click.prevent="toggleInfo(work)">
                                <img v-bind:src='work.images.thumb_url' v-bind:alt='work.name' class="img-responsive" />
                                <figcaption class="title">
                                    <span class="highlight"><span class="highlight--el">{{ work.name }} </span></span>
                                </figcaption>
                                <a href="javascript:" class="more" class="btn" v-html="seemore"></a>
                            </figure>

                        </div>
                        <!-- //.work -->

                    </div>
                    <!-- //.recentworks end -->
                </section>
                <!-- //.works end -->
                <!-- model box here  -->
                <section class="modelbox" v-bind:class="{'open': isOpen}">

                    <span class="btn_close" @click="btn_close()" v-bind:class="{'open': isOpen}">
                            <span aria-hidden="true">&times;</span>
                    </span>

                    <header class="modelbox_header">
                        <div class="modelbox_header__content">
                            <h2>
                                <span class="highlight">
                                        <span class="highlight--el">{{ selectedWork.name }}</span>
                                </span>
                                <small>{{ selectedWork.type }}</small>
                            </h2>
                            <!--
                        <p> Role: {{ selectedWork.role }}
                            <span>{{ selectedWork.category }}</span>
                            <span v-if='selectedWork.platform'>{{ selectedWork.platform }}</span>
                        </p> -->
                            <ul>
                                <li><strong>Role:</strong> {{ selectedWork.role }} </li>
                                <li><strong>Technology:</strong> {{ selectedWork.technology }}</li>
                                <li></li>
                            </ul>
                        </div>




                    </header>
                    <main class="modelbox_main">

                        <p> {{ selectedWork.description }} </p>

                        <figure v-for="img in selectedImages">
                            <figcaption>{{img.caption}}</figcaption>
                            <img v-bind:src='img.url' v-bind:alt='img.caption' />
                        </figure>



                    </main>




                </section>
                <!-- //.modelbox  section end -->
            </main>


            <footer class="footer animated slideInUp">
                <section class="footer__copy">{{footer_copy}}</section>
                <section class="footer__info">{{email}} | {{cell}}</section>
            </footer>

        </div>
        <!-- /wrapper -->
        <section class="ie_message" v-bind:class="{'ie': isIE}" v-if="isIE">
            <main>
                <h1>{{ie_heading}} </h1>
                <p v-html='ie_message'></p>
            </main>

        </section>
    </div>
    <!-- //.container -->


    <script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script src="script/vue_js.js"></script>
</body>

</html>